<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau de rendez-vous</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="./style/home.css">
    <link rel="stylesheet" href="bootstrap-icons/font/bootstrap-icons.css">
    <style>
      .liste{
        background-color: white;
        padding: 10px 5px;
        box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.86);

      }
      .btnDetails{
        background-color: #01579b;
        color: white;
        padding: 4px 20px;
        border-radius: 2px;
        border: 0;

      }
      .btnLogin{
        background-color: #bf360c;
        color: white;
        border: 0;
      }
      .table-responsive{
          height: 450px;
          overflow: auto;
      }
      thead{
          position: sticky;
          top: 0;
        
          /* display: block; */
      }
      tbody{
          /* display: block; */
          height: 80px;
          overflow-y: auto;
      } 
      #btnAjouter{
        padding: 4px 20px;
      }
    </style>
    <script src="jquery.min.js"></script>

</head>
<body>
<div >
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <img src="img/logo1.jpg" alt="" width="45px">
          <a class="navbar-brand" href="#">Synand Clinique</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link bi bi-calendar-week" aria-current="page" href="/planing"> Planing </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active bg-secondary rounded-3 text-light bi bi-question-square" href="/home"> Demande</a>
              </li>
              <li class="nav-item">
                <a class="nav-link bi bi-envelope-exclamation" href="/notification"> Notification</a>
              </li>
            </ul>
            <div>
              <button class="btn"><%= email %></button>

          </div>
          <a href="/deconnection" type="button" class="btn btnLogin bi bi-box-arrow-right" id="btnLogin"> Se deconnecter</a>

          </div>
        </div>
      </nav>
      <div class="container">
          <div >
            <div class="navbar">
                <div class="navbar-brand titre">
                    <h3>Votre rendez-vous</h3>
                </div>
                <button class="btn bi bi-calendar-plus" id="btnAjouter"> Ajouter </button>
            </div>

        </div>
          <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Num rdv</th>
                    <th scope="col" style="display: none;">Demandeur</th>
                    <th scope="col">Date de rdv</th>
                    <th scope="col">Heure de rdv</th>
                    <th scope="col">Motif</th>
                    <th scope="col">Etat</th>
                    <th style="display: none;">idUser</th>
                    <th style="display: none;">email</th>
                    <th style="display: none;">date1</th>
                    <th style="display: none;">heure1</th>
                    <th style="display: none;">date2</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                        <%for(i=0;i< result.length;i++){ %>
                  <tr>
                    <th scope="row"><%=i+1%></th>
                    <td><%= result[i].id %></td>
                    <td style="display: none;"> <%= result[i].nom %></td>
                    <td><%= result[i].date %></td>
                    <td><%= result[i].heure %></td>
                    <td><%= result[i].motif %></td>
                    <td><%= result[i].etat %></td>
                    <td style="display: none;"><%= result[i].idUser %></td>
                    <td style="display: none;"><%= result[i].email %></td>
                    <td style="display: none;"><%= result[i].date1 %></td>
                    <td style="display: none;"><%= result[i].heure1 %></td>
                    <td style="display: none;"><%= result[i].date2 %></td>
                    <td> <button class="btnDetails bi bi-justify-left" type="submit">  Details</button></td>
                  </tr>
                        <% } %>
                </tbody>
              </table>
        </div>
        
      </div>
</div>

  <!-- Modal pour le Details -->

<div class="modal" tabindex="-1" id="modalDetails">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Details</h6>
        <button type="button" class="btn-close text-light" data-bs-dismiss="modal" aria-label="Close" id="closeModalDetails"></button>
      </div>
      <div class="modal-body">
          <div class="row">
            <div class="col"><strong>Numero du rendez-vous :</strong></div>
            <div class="col">
              <div id="numero"></div>
            </div>
          </div>
          <div class="row">
            <div class="col"><strong>Demandeur :</strong> </div>
            <div class="col"><div id="numCli"></div></div>
          </div>
          <div class="row">
            <div class="col"><strong>Numero :</strong></div>
            <div class="col"><div id="idUser"></div></div>
          </div>
          <div class="row">
            <div class="col"><strong>Date de rendez-vous :</strong> </div>
            <div class="col">
              <div id="date0"></div>
            </div>
          </div>
          <div class="row">
            <div class="col"><strong>Heure de rendez-vous :</strong></div>
            <div class="col">
               <div  id="heure0"></div>
            </div>
          </div>
          <div class="row">
            <div class="col"><strong>Motif :</strong></div>
           <div class="col">
            <div id="motif0"></div>
           </div>
          </div>
          <div class="row">
            <div class="col"><strong>Etat :</strong></div>
           <div class="col">
            <div id="etat"></div>
           </div>
          </div>
          <div class="row">
            <div class="col"><strong>Email :</strong></div>
            <div class="col">
            <div id="email"></div>
            </div>
          </div>
          <div class="row">
            <div class="col"><strong>Date de deposition :</strong></div>
            <div class="col"><div id="date1"></div></div>
          </div>
          <div class="row">
            <div class="col"><strong>Heure de deposition :</strong> </div>
            <div class="col"><div id="heure1"></div> </div>
          </div>

      </div>
      
      <div class="modal-footer"> 
        
        <button type="submit" class="btn btn-danger" data-bs-dismiss="modal" id="">Annuler le rendez-vous</button>
       
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="closeModalDetails1">Fermer</button>
      </div>

    </div>
  </div>
</div>
<script>
  window.onload=function(){
      const urlParams=new URLSearchParams(window.location.search);
      const error=urlParams.get('error');
      const message=urlParams.get('message');
      if(error){
          alert(error)
      }
  }
</script>
</body>
<!-- Modal pour le creation de rendez-vous -->
<div class="modal" tabindex="-1" id="modalAdd">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Inscrpition</h6>
        <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close" id="closeModalAdd1"></button>
      </div>
      <div class="modal-body">
        <form action="addRdvUser" method="post" class="needs-validation" novalidate>           
          <div class="mb-3">
            <input type="text" class="form-control" style="display: none;" id="id" name="id"  placeholder="" value="<%=id %>">
            <div class="valid-feedback">
                Please provide a valid zip.
              </div>
        </div>
              <div class="mb-3">
                  <label for="validationCustom01" class="form-label">Motif</label>
                 <select class="form-control"  name="motif" id="motif">
                  <option value="Consulation Generale">Consulation Generale</option>
                  <option value="Consulation Specialise">Consulation Specialise</option>
                  <option value="Suivi medical">Suivi medical</option>
                  <option value="Examen de routine">Examen de routine"</option>
                  <option value="Vaccination">Vaccination</option>
                  <option value="Controle de Sante">Controle de Sante</option>
                  <option value="Probleme Specifique">Probleme Specifique</option>
                 </select>
              </div>

              <div class="mb-3">
                  <label for="validationCustom01" class="form-label">date</label>
                  <input type="date" class="form-control" id="date" name="date"   required>
                  <div class="valid-feedback">
                      Please provide a valid zip.
                    </div>
              </div>

              <div class="mb-3">
                  <label for="validationCustom01" class="form-label">Heure</label>
                  <select class="form-control" name="heure" id="heure">
                    <option value="08:00">08:00</option>
                    <option value="09:00">09:00</option>
                    <option value="10:00">10:00</option>
                    <option value="11:00">11:00</option>
                    <option value="13:00">13:00</option>
                    <option value="14:00">14:00</option>
                    <option value="15:00">15:00</option>

                  </select>
              </div>
                  
              <button type="submit" class="btn btn-primary">Enregistrer</button>
               <button type="button" class="btn btn-secondary " data-bs-dismiss="modal" id="closeModalAdd">Fermer</button>

        </form>
      </div>
    </div>
  </div>
</div>

<script>
    var btnAjouter=document.getElementById("btnAjouter");
    var ModalAjouter=document.getElementById("modalAdd");
    btnAjouter.onclick=function(){
        ModalAjouter.style.display="block"
    }
    var btnCloseModalAdd=document.getElementById("closeModalAdd");
    btnCloseModalAdd.onclick=function(){
        ModalAjouter.style.display="none"
    }
    var btnCloseModalAdd=document.getElementById("closeModalAdd1");
    btnCloseModalAdd.onclick=function(){
        ModalAjouter.style.display="none"
    }

    var btnDetails=document.getElementsByClassName("btnDetails");
var modalDetails=document.getElementById("modalDetails");
var closeModalDetails=document.getElementById("closeModalDetails");
var closeModalDetails1=document.getElementById("closeModalDetails1");
 for(i=0;i<btnDetails.length;i++){
  btnDetails[i].onclick=function(){
                      modalDetails.style.display="block";
                        var row = $(this).closest("tr");
                        var cells = row.find("td");
                        // Tableau pour stocker les valeurs de toutes les cellules
                        var valeursCellules = [];
        
                        // Itérer sur les cellules et stocker les valeurs
                        cells.each(function(index) {
                            var contenuCellule = $(this).text();
                            // Stocker la valeur dans le tableau valeursCellules
                            valeursCellules[index] = contenuCellule;
                        });
        
                        // Accéder aux valeurs individuelles
                        var idRdv = valeursCellules[0];
                        var idClient = valeursCellules[1];
                        var date = valeursCellules[2];
                        var heure = valeursCellules[3];
                        var motif = valeursCellules[4];
                        var etat = valeursCellules[5];
                        var IdUser = valeursCellules[6];
                        var email = valeursCellules[7];
                        var date1 = valeursCellules[8];
                        var heure1 = valeursCellules[9];
                        var date2 = valeursCellules[10];
        
                        // $("#champId").val(idRdv);
                        // $("#champId2").val(idRdv);
                       document.getElementById("numero").innerHTML=idRdv;
                       document.getElementById("numCli").innerHTML=idClient;
                       document.getElementById("date0").innerHTML=date;
                       document.getElementById("heure0").innerHTML=heure;
                       document.getElementById("etat").innerHTML=etat;
                       document.getElementById("idUser").innerHTML=IdUser;
                       document.getElementById("email").innerHTML=email;
                       document.getElementById("motif0").innerHTML=motif;
                       document.getElementById("date1").innerHTML=date1;
                       document.getElementById("heure1").innerHTML=heure1;
                       document.getElementById("date2").innerHTML=date2;

                      //  console.log(date+heure)
  }
}
closeModalDetails.onclick=function(){
  modalDetails.style.display="none";
}
closeModalDetails1.onclick=function(){
  modalDetails.style.display="none";
}
</script>
</html>